---
import Base from "../layouts/Base.astro";
---

<Base title="Home">
  <main>
    <!-- Intro -->
    <section id="intro">
      <h2 id="papa-stack"><mark>PAPA Stack</mark></h2>
      <p>
        At first, I've chosen this setup to teach my nephew how to code. So,
        I'll keep things simple on the tech side. If you're interested, let's
        dive in together!
      </p>
    </section>
    <!-- ./ Intro -->

    <!-- Examples -->
    <section id="examples">
      <h3>Examples</h3>
      <ul>
        <li><a href="/pico">Pico CSS</a></li>
        <li>
          <a href="https://www.alpinetoolbox.com/examples/" target="_blank">
            Alpine.js
          </a>
        </li>
      </ul>
    </section>
    <!-- ./ Examples -->

    <!-- Tools -->
    <section id="tools">
      <h3>Tools</h3>
      <ul>
        <li><a href="https://picocss.com/" target="_blank">Pico CSS</a></li>
        <li><a href="https://alpinejs.dev/" target="_blank">Alpine.js</a></li>
        <li><a href="https://pocketbase.io/" target="_blank">Pocketbase</a></li>
        <li><a href="https://astro.build/" target="_blank">Astro</a></li>
      </ul>
    </section>
    <!-- ./ Tools -->
  </main>

  <style>
    mark {
      font-size: 3.5rem;
      background: -webkit-linear-gradient(
        30deg,
        var(--pico-color-amber-300) 30%,
        var(--pico-color-red-600)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h3 {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
      margin-top: 1.5rem;
    }
  </style>
</Base>
